<nav class="nav">
    <div class="container">
        <div class="logo">
            <div>
                <img src="../../assets/logo.svg" class="logo-image" alt="Logo">
            </div>
            <div class="logo-title">
                PIZZA SHEFF
            </div>
        </div>
    
        <div class="nav-items">
            <div class="nav-item">
                Пиццы
            </div>
            <div class="nav-item">
                Напитки
            </div>
            <div class="nav-item">
                Доставка и оплата
            </div>
            <div class="nav-item">
                Контакты
            </div>
        </div>
    </div>
</nav>
