<div class="order">
    <div class="order-info">
        <h3>
            <span class="primary">
                Хватит думать!
            </span>
            <span class="secondary">
                Доставим заказ за 30 минут!
            </span>
        </h3>
        <div class="order-info-text">
            <span class="secondary">
                Мы  гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. 
                Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. 
                Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
            </span>

        </div>
    </div>
    
    
    <form class="order-form" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="order-input">
          <input type="text" placeholder="Ваше имя" formControlName="name">
          <div *ngIf="(name?.invalid && name?.dirty || name?.touched)" class="error-message">
            <div *ngIf="name?.errors?.required">Укажите имя</div>
            <div *ngIf="name?.errors?.pattern">Имя может содержать только буквы и пробелы</div>
          </div>
        </div>
        <div class="order-input">
          <input type="text" placeholder="Адрес доставки" formControlName="address">
          <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="error-message">
            Address is required?.
          </div>
        </div>
        <div class="order-input">
          <input type="text" placeholder="Телефон" formControlName="phone">
          <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="error-message">
            <div *ngIf="phone?.errors?.required">Укажите телефон</div>
            <div *ngIf="phone?.errors?.pattern">Поле может содержать только цифры</div>
          </div>
        </div>
        <button class="primary-button" type="submit" [disabled]="orderForm.invalid">Оформить заказ</button>
    </form>

    <app-modal (click)="onSubmit()" [response]="$response | async" (hasCloseModal)="closeModal()" *ngIf="isOpenModal"></app-modal>

</div>

